@import "tailwindcss";

@font-face {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/hankengrotesk/v16/ieVq2YZDLWuGJpnzaiwFXS9tYvBRzyFLlZI_Yg.woff2") format("woff2");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/hankengrotesk/v16/ieVq2YZDLWuGJpnzaiwFXS9tYvBRzyFLlZI_Yg.woff2") format("woff2");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/hankengrotesk/v16/ieVq2YZDLWuGJpnzaiwFXS9tYvBRzyFLlZI_Yg.woff2") format("woff2");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-style: italic;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/hankengrotesk/v16/ieVo2YZDLWuGJpnzaiwFXS9tYtpY_d6T_POl0fRJeyWyo_BJ.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxjPVmUsaaDhw.woff2") format("woff2");
}

html,
body {
  height: 100%;
  background-color: white;
}
